{% extends 'layout.html.twig' %}

{% block body %}
{% if error %}
<div class="alert alert-dismissable alert-danger">
    {{ error }}
</div>
{% endif %}
<form class="form-horizontal" method="post">
    <fieldset>
        <legend>Вход</legend>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Логин</label>
            <div class="col-lg-10">
                <input class="form-control" id="inputEmail" placeholder="" type="text" name="login">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Пароль</label>
            <div class="col-lg-10">
                <input class="form-control" id="inputPassword" placeholder="" type="password" name="password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">Войти</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
